@import "../css/fonts.css";
@import "../css/global.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* HEADER QISMI */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 64px;
  margin-bottom: 64px;
}

.head-right ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 42px;
}

.head-right a {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 2px;
  color: #333136;
}

/* MAIN 1 QISMI */
.main-container {
  display: flex;
  align-items: center;
  text-align: center;
}

.main-picture {
  width: 280px;
}

.main-picture h4 {
  font-size: 24px;
  font-weight: 700;
  color: #333136;
  margin-bottom: 16px;
}

.main-picture p {
  font-size: 15px;
  line-height: 25px;
  color: #7b7b7b;
}
/* DESIGN QISMI */
.design{
  margin-top: 160px;
  margin-bottom: 160px;
}

.design__container{
  display: flex;
  align-items: center;
gap: 30px;
}

.des-right{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

/* MAIN QISMI */
.main{
  margin-top: 32px;
  margin-bottom: 160px;
}

.main__container{
  display: flex;
  align-items: center;
  gap: 30px;
}

.main_tittle{
  background-color: #FDF3F0;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.main_tittle h4{
font-size: 20px;
font-weight: 500;
line-height: 26px;
letter-spacing: 5px;
color:  #E7816B;
margin-bottom: 16px;
}

.main_tittle{
font-size: 16px;
font-weight: 400;
line-height: 26px;
color: #333136;
}
/* ABOUT QISMI */
.about {
  margin: 64px 0;
}

.about-container {
  display: flex;
  justify-content: space-between;
}

.about-left {
  width: 60%;
}

.about-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-left h4 {
  font-size: 36px;
  color: #333136;
}

.about-left p {
  font-size: 15px;
  line-height: 25px;
  color: #7b7b7b;
}

.about-right button {
  background: #f8f8f8;
  border: none;
  padding: 18px 32px;
  font-size: 14px;
  font-weight: 700;
  color: #333136;
  border-radius: 30px;
  cursor: pointer;
}

/* FOOTER QISMI */
.footer-container {
  padding: 56px 0;
  text-align: center;
}

.foot-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 56px;
}

.foot-left ul,
.footer-center ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foot-left a,
.footer-center a {
  font-size: 14px;
  line-height: 20px;
  color: #7b7b7b;
}

.foot-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.footer-right a {
  margin-left: 15px;
}
